<div class="container">

    <div class="container-xl main">
        <div class="row">

            <div class="col-lg-4 col-md-12">
                <h4 class="column-title">Burgers that are ready to eat!</h4>
                <div class="row">
                    <ul id="not-devoured">
                        {{#each burgers}}
                        {{#unless devoured}}
                        {{> burgers/burger-block devoured=true}}
                        {{/unless}}
                        {{/each}}
                    </ul>
                </div>
            </div>


            <div class="col-lg-4 col-md-12" id="middle-column">
                <h1 id="title">Burger Tracker!</h1>
                <form class="create-form">
                    <div class="input-group">
                        
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-danger" id="basic-addon1"><ion-icon name="fast-food-outline"></ion-icon></span>
                        </div>
                        <input class="form-control" type="text" id="ca" name="name" placeholder="Burger Name">
                        <button class="btn btn-danger" type="submit">Add Burger</button>
                    </div>
                </form>
            </div>


            <div class="col-lg-4 col-md-12">
                <h4 class="column-title">Burgers that have been devoured!</h4>
                <div class="row">
                    <ul id="devoured">
                        {{#each burgers}}
                        {{#if devoured}}
                        {{> burgers/burger-block devoured=false}}
                        {{/if}}
                        {{/each}}
                    </ul>
                </div>
            </div>

        </div>

    </div>
</div>