body {
  background-color: #fc6;
}

#title {
  color: #f30;
  text-align: center;
  margin-top: 5px;
}

li {
  list-style-type: none;
  padding: 10px;
  margin: 5px;
  font-size: larger;
  background: lightgreen;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}

.main {
  margin-top: 50px;
  min-height: 800px;
  background-image: url("/images/burger.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}


.create-form {
  padding: 15px;
  margin: 5px;
}

.form-group {
  margin-bottom: 5px;
}

/* #burger-image {
  max-width: 100%;
  margin: 10px auto;
} */
